mixin checkinBox(item)
  div(class="list-group-item", onClick='checkinClick("' + item.venue.name + '")')
      .h3.font-weight-bold=item.venue.name
      p.venue-cat.font-italic=item.venue.categories[0].name
      if item.shout
        .h4.font-italic "#{item.shout}"
      if item.photos.count > 0
        each pic in item.photos.items
          img.img-thumbnail(src=pic.prefix + '300x300' + pic.suffix)
        
      .time-ago #{moment(item.createdAt * 1000).fromNow()}
